@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'variables';
@import 'footer';
@import 'three-dimensions';

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}
